
//- --------------------------------------------------------
//- Colors
//- --------------------------------------------------------



//- --------------------------------------------------------
//- Image Paths
//- --------------------------------------------------------



$imagePath = '../img/'

$iconImagePath = $imagePath + 'icons/'
$desktopImagePath = $imagePath + 'desktop/'
$mobileImagePath = $imagePath + 'mobile/'
$galleryImagePath = $imagePath + 'gallery/'


//- --------------------------------------------------------
//- Fonts
//- --------------------------------------------------------

$baseFontSize         = 16px
$baseLineHeight       = 100%
$baseFontFamily       = Helvetica, sans-serif
$borderColor = black

//- --------------------------------------------------------
//- Spacing / Grid
//- --------------------------------------------------------

$baseMargin           = 15px

//- --------------------------------------------------------
//- Media Queries
//- --------------------------------------------------------

$media_cache = {}
$media_aliases = {
  mobile: '(min-width : 320px) and (max-width : 850px)'
  tablet: '(min-width : 850px) and (max-width : 1200px)'
  desktop: '(min-width : 850px)'
}
